@font-face{
  src: url(FONT/Agelast-mLlAm.otf);
  font-family: age;
}

#space{
  top: 50%;
}


body {
  background-image: url("NEWBGnew.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}


  html, body {margin: 0; height: 100%; overflow: hidden}





nav{
  width: 97%;
  display: flex;
  align-items: right;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  padding: 25px 35px;
  font-family: age;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px color;
  
}

header{
  height: 100vh;
  
}

ul{
  list-style: none;
  
}

li{
  display: inline-block;
}

.li1 a{
  margin-left: 100px;
}

.li2 a{
  margin-left: 100px;
}

.li3 a{
  margin-left: 100px;
}

.li4 a{
  margin-left: 100px;
}


nav a{
  color: #ffffff;
  letter-spacing: 2px;
  text-decoration: none;
}



#Stardust{
  top: -4%;
  left: 8.5%;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  font-size: 10vw;
  color: #252839;
  -webkit-text-stroke: 0.06vw #F4F5FF;
  text-transform: uppercase;
  
}

#Stardust::before
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #B8F2FF;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  animation: animate 10s infinite;
}
@keyframes animate
{
  0%
  {
    width: 0%;
  }
  50%
  {
    width: 100%;
  }
  
}



a{
cursor: pointer;
}
#SPACE{
  color: white;
  top: 35%;
  left: 9%;
  position: absolute;
  font-family: 'Maven Pro', sans-serif;
  font-size:130px;
  letter-spacing: 10px;
}
  

#home-writing{
  color: white;
  top: 40%;
  left: 9%;
  position: absolute;
  font-family: 'Maven Pro', sans-serif;
  font-size: 27px;
}


#home-writing2{
  color: white;
  top: 62%;
  left: 9%;
  position: absolute;
  font-family: 'Maven Pro', sans-serif;
  font-size: 23px;
  width: 430px;
  line-height: 30px;
}











/*dropdown*/

.dropbtn {
  background-color: transparent;
  color: #ea1010;
  padding: 16px;
  letter-spacing: 2px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: age;
}


#myBtn {
  background-color: transparent;
  color: #ffffff;
  letter-spacing: 2px;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 149px;
  overflow: auto;
  letter-spacing: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  background-color: transparent;
  color: #ffffff;
  padding: 12px 16px;
  letter-spacing: 2px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #585555}



.show {display:block;}



/*BG4*/
/*
body {
  background-image: url("BG4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 400px;
}
*/

/*BG3*/
/*
body {
  background-image: url("BG3.png");
  background-size: cover;
  background-position: center ;
  padding: 0;
  margin: 0;
  width: 1000vw;
  height: 1000vh;
}
*/